body {
  font-family: Arial;
  background: #f8fefe;
  padding: 20px;
}

input {
  padding: 10px;
  width: 300px;
  margin-bottom: 20px;
}

.card {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px #ccc;
}

a {
  text-decoration: none;
  color: #1aab2a;
}
